
@model ZShop.Models.Pagination.PaginatedList<Entities.Product>

@{
    ViewData["Title"] = "Index";
}


<!DOCTYPE html>
<html lang="en">
<style>
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<body>

    <!-- Navbar ================================================== -->
    <!-- Header End====================================================================== -->
 
                <!-- Sidebar ================================================== -->
                <!-- Sidebar end=============================================== -->
                <div class="span9">
                    <ul class="breadcrumb">
                        <li><a class="active">Поиск товара</a>
                    </ul>



                    <div class="tab-pane  active" id="blockView">
                        <ul class="thumbnails">

                            @foreach (var item in Model)
                            {
                                <li class="span3">
                                    <div class="thumbnail">
                                        <a asp-action="ViewProduct" asp-controller="Home" asp-route-id="@item.Id"><img src="@Html.DisplayFor(x => item.ImageUrl)" style="width:250px; height:220px;" alt="" /></a>
                                        <div class="caption">
                                            <a asp-action="ViewProduct" asp-controller="Home" asp-route-id="@item.Id" style="text-decoration:none;"><h5>@Html.DisplayFor(x => item.Name)</h5></a>
                                            <p>


                                            </p>

                                            <h4 style="text-align:center"> <a class="btn" asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@item.Id">Добавить в <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@Html.DisplayFor(x => item.Price) грн</a></h4>
                                        </div>
                                    </div>
                                </li>
                            }
                            @if (Model.Count() == 0)
                            {
                                <li class="span3">
                                    <div class="thumbnail">
                                        <span>По данному запросу ничего не найдено</span>
                                    </div>
                                </li>
                            }
                        </ul>
                        <hr class="soft" />
                        @{
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        }

                        <a asp-action="Search"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-default @prevDisabled">
                            Назад
                        </a>
                        <a asp-action="Search" 
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-default @nextDisabled">
                            Далее
                        </a>
                    </div>
                </div>

               

                <br class="clr" />
          

</body>
</html>
