@model ZShop.Models.Pagination.PaginatedList<Entities.Product>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<style>
    a.disabled {
        pointer-events: none;
        cursor: default;
    }
</style>
<body>

    <!-- Navbar ================================================== -->
    <!-- Header End====================================================================== -->
    <!-- Sidebar ================================================== -->
    <!-- Sidebar end=============================================== -->
    <div class="span9">
        <ul class="breadcrumb">
            <li><a asp-action="Index" asp-controller="Home">Главная</a></li>
           
        </ul>



        <div class="tab-pane  active" id="blockView">
            <ul class="thumbnails">

                @foreach (var item in Model)
                {
                    <li class="span3">
                        <div class="thumbnail" >
                            <img src="@Html.DisplayFor(x => item.ImageUrlShowCase)"style="width:250px; height:220px;" alt="" />
                            <div class="caption">
                                <a><h5>@Html.DisplayFor(x => item.Name)</h5></a>
                                <p>
                                    <a asp-action="ViewProduct" asp-route-id="@item.Id">Осмотреть</a>

                                </p>
                                
                                <h4 style="text-align:center"> <a class="btn" asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@item.Id">Добавить в <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">@Html.DisplayFor(x => item.Price) грн</a></h4>
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <hr class="soft" />
        </div>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }

        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @prevDisabled">
            Назад
        </a>
        <a asp-action="Index"
           asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]"
           class="btn btn-default @nextDisabled">
            Далее
        </a>
    </div>



    <br class="clr" />
    </div>


</body>
</html>
@*<div class="container bootdey">
        <div class="col-md-9">
            <section class="panel">
                <div class="panel-body">
                    <div class="pull-right">
                        @{
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        }
                        <a asp-action="Index"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-default @prevDisabled">
                            Previous
                        </a>
                        <a asp-action="Index"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           asp-route-currentFilter="@ViewData["CurrentFilter"]"
                           class="btn btn-default @nextDisabled">
                            Next
                        </a>
                    </div>
            </section>
            <div class="row product-list">
                @foreach (var item in Model)
                {
                    <div class="col-md-4">
                        <section class="panel">
                            <div class="pro-img-box">
                                <img src="@Html.DisplayFor(x => item.ImageUrlShowCase)" alt="" />
                                <a asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@item.Id" class="adtocart">
                                    <i class="fa fa-shopping-cart"></i>
                                </a>
                            </div>
                            <div class="panel-body text-center">
                                <h4>
                                    <a asp-action="ViewProduct" asp-route-id="@item.Id" class="pro-title">
                                        @Html.DisplayFor(x => item.Name)
                                    </a>
                                </h4>
                                <p class="price">@Html.DisplayFor(x => item.Price)</p>
                            </div>
                        </section>
                    </div>
                }
            </div>
        </div>
    </div>*@