@model Entities.Product

@{
    ViewData["Title"] = "ViewProduct";
}

<style>
    .bloc_left_price {
        color: #c01508;
        text-align: center;
        font-weight: bold;
        font-size: 150%;
    }

    .category_block li:hover {
        background-color: #007bff;
    }

        .category_block li:hover a {
            color: #ffffff;
        }

    .category_block li a {
        color: #343a40;
    }

    .add_to_cart_block .price {
        color: #c01508;
        text-align: center;
        font-weight: bold;
        font-size: 200%;
        margin-bottom: 0;
    }

    .add_to_cart_block .price_discounted {
        color: #343a40;
        text-align: center;
        text-decoration: line-through;
        font-size: 140%;
    }

    .product_rassurance {
        padding: 10px;
        margin-top: 15px;
        background: #ffffff;
        border: 1px solid #6c757d;
        color: #6c757d;
    }

        .product_rassurance .list-inline {
            margin-bottom: 0;
            text-transform: uppercase;
            text-align: center;
        }

            .product_rassurance .list-inline li:hover {
                color: #343a40;
            }

    .reviews_product .fa-star {
        color: gold;
    }

    .pagination {
        margin-top: 20px;
    }
</style>

<head>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>






<div class="container">
    <div class="row">
        <!-- Image -->


        

        <div id="Carousel" class="carousel slide col-12 col-lg-6">
            <ol class="carousel-indicators">
                <li data-target="Carousel" data-slide-to="0" class="active"></li>
                <li data-target="Carousel" data-slide-to="1"></li>
                <li data-target="Carousel" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <img src="@Html.DisplayFor(x=>x.ImageUrl)">
                </div>
                <div class="item">
                    <img src="https://s3.envato.com/files/241607032/preview.__large_preview.jpg">
                </div>
                <div class="item">
                    <img src="@Html.DisplayFor(x=>x.ImageUrl)">
                </div>
            </div>

            <a class="left carousel-control" href="#Carousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#Carousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div>

        @*<div class="col-12 col-lg-6">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="https://dummyimage.com/800x800/55595c/fff" />
                        <p class="text-center">Zoom</p>
                    </a>
                </div>
            </div>
        </div>*@

        <!-- Add to cart -->
        <div class="col-12 col-lg-6 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <p class="h3" style="text-align : center;">@Html.DisplayFor(x => x.Name) </p>
                    <p class="price">99.00 грн</p>
                    <form method="get" action="cart.html">
                        @*<div class="form-group">
                        <label for="colors">Color</label>
                        <select class="custom-select" id="colors">
                            <option selected>Select</option>
                            <option value="1">Blue</option>
                            <option value="2">Red</option>
                            <option value="3">Green</option>
                        </select>
                         </div>*@
                        <a asp-controller="ShopCart" asp-action="AddToCart" asp-route-id="@Model.Id" class="btn btn-success btn-lg btn-block text-uppercase" type="submit">
                            <i class="fa fa-shopping-cart"></i> Добавить в корзину
                        </a>
                    </form>
                    <div class="product_rassurance">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br />+38 (098) 929 79 00</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top : 3%;">
        <!-- Description -->
        <div class="col-12"  >
            <div class="card border-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-align-justify"></i> Характеристики</div>
                <div class="card-body">
                    <p class="card-text">
                        @Html.DisplayFor(x => x.Description)
                    </p>
                    <p class="card-text">

                    </p>
                </div>
            </div>
        </div>

       




       
    </div>
